body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: Arial, sans-serif;
  margin: 0;
}

.searchContainer {
  position: relative;
  width: 300px;
  margin-bottom: 20px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

#suggestions {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  list-style-type: none;
  background-color: #fff;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#searchBar {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#searchButton {
  margin-left: 1px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

#suggestions li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

#suggestions li:last-child {
  border-bottom: none;
}

#suggestions li:hover {
  background-color: #f1f1f1;
}

#cardContainer {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 300px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-top: 0;
  font-size: 20px;
}

.card p {
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.5;
}

.card span.label {
  font-weight: bold;
}

.card span.value {
  margin-left: 5px;
}

#chart {
  width: 400px;
  height: 300px;
  margin: 20px auto;
  /* need to change this later */
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}
