body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.searchBarContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50vw;
  height: 100vh;
  transition: transform 0.5s ease-in-out;
}

.leftSearchBarContainer {
  display: flex;
  flex-direction: row;
  background-color: #f1f1f1;
}

.rightSearchBarContainer {
  display: flex;
  flex-direction: row;
  background-color: #f8f8f8;
}

.searchBar {
  padding: 8px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.searchButton {
  padding: 8px;
  margin-left: 0.2em;
  margin-bottom: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.suggestions {
  position: absolute;
  top: 52vh; /* tried to place it right below search bar, might need to change this for better responsive design */
  width: 50%;
  max-height: 200px;
  overflow-y: auto;
  list-style-type: none;
  background-color: #fff;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  display: none;
}

.suggestions li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.suggestions li:last-child {
  border-bottom: none;
}

.suggestions li:hover {
  background-color: #f1f1f1;
}

.cardContainerWrapper {
  display: flex;
  justify-content: space-around;
}

.cardContainer {
  pointer-events: none;
  position: absolute;
  width: 40%;
  max-height: 80%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  top: 5%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#leftCardContainer {
  left: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#rightCardContainer {
  right: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
}

.cardContainer::-webkit-scrollbar {
  width: 10px;
}

.cardContainer::-webkit-scrollbar-track {
  background: #f0f0f0;
}

.cardContainer::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 20px;
}

.cardContent {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.leftCardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 5%;
}

.rightCardContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  line-height: 5%;
}

#chart {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.searchBarContainer {
  transition: all 0.5s ease;
}

.searchBarContainer.movedLeft {
  transform: translateX(-100%);
}

.searchBarContainer.movedRight {
  transform: translateX(100%);
}
