.searchBars {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchBarContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

#leftSearchBar,
#rightSearchBar {
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

#leftSearchButton,
#rightSearchButton {
  margin-left: 1px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

#leftSuggestions,
#rightSuggestions {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  list-style-type: none;
  background-color: #fff;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.searchBarContainer:hover #leftSuggestions,
.searchBarContainer:hover #rightSuggestions {
  display: block;
}

#leftSuggestions li,
#rightSuggestions li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

#leftSuggestions li:last-child,
#rightSuggestions li:last-child {
  border-bottom: none;
}

#leftSuggestions li:hover,
#rightSuggestions li:hover {
  background-color: #f1f1f1;
}

#leftCardContainer,
#rightCardContainer {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

#leftCardContainer {
  left: 20px;
}

#rightCardContainer {
  right: 20px;
}

.card {
  width: 300px;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin-top: 0;
  font-size: 20px;
}

.card p {
  margin: 10px 0;
  font-size: 14px;
  line-height: 1.5;
}

.card span.label {
  font-weight: bold;
}

.card span.value {
  margin-left: 5px;
}

#chart {
  position: absolute;
  top: 50%;
  left: 50%;
  /* width: 400px;
  height: 300px;
  margin: 20px auto; */
}
